# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
searchlight/

# Databases (Local SQLite)
*.db
*.db-journal
*.sqlite3

# Environment variables
.env

# AI Models & Large Files
*.h5
*.pth
*.pt
*.bin

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Specific
node_modules/
frontend/dist/
frontend/node_modules/
reference/
scratch/
*.log
installed_packages.md
requirements_temp.txt

backend\static\sampleData
samplevideo.mp4
analyze_sbert.py