# FastAPI & API Server
fastapi
uvicorn
sqlalchemy
pydantic
supabase
python-dotenv

# AI & NLP
transformers
torch
sentence-transformers
faiss-cpu

# Utilities
pandas
python-multipart
supabase
opencv-python
